*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: #666;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.menu{
    margin-top: 80px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.menu-flex{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}
.list-menu{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.logo{
    font-weight: 800;
}
.content{
    padding: 0px 180px;
}
.content-header{
    padding-top: 80px;
    text-align: center;
}
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Priva
